* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
ul, li {
    list-style: none;
}
.container {
    margin: 0 auto;
    max-width: 800px;
}
.categories span {
    cursor: pointer;
   
}
.categories,
.categories-list {
    padding: 5px 10px;
}

.navigation {
    width: 150px;
}
.navigation li {
    position: relative;
}
.navigation ul {
    display: none;
    position: absolute;
    top: 0;
    right: -150px;
    width: 150px;
}

.categories-list {
    position: relative;
    right: 0px;
    top: 0;
}
ul.sub-menu-active {
    display: block;
}
.form {
    background-color: rgb(228, 228, 228);
    padding: 20px;
    max-width: fit-content;
    
    
    margin: 0 auto;
    display: none;
}

.form form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.form h4 {
    text-align: center;
    text-transform: uppercase;
}

.form button {
    display: block;
    margin: 0 auto; 
}

textarea {
    resize: vertical;
    width: 100%;
    padding: 5px;
}

table {
    margin: 0 auto;
    border: 3px solid rgb(197, 197, 197);
    border-radius: 5px;

    display: none;
    max-width: fit-content;
}

caption {
    text-transform: uppercase;
}

th {
    text-align: end;
}
td {
    text-align: start;
}
